.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacebt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
}
scroll-view{
    flex: 1 !important;
    overflow: hidden;
}
#virtual-list-0-inner{
    overflow: hidden;
    >view{
        width: 50% !important;
        float: left !important;
        box-sizing: border-box !important;
        overflow: hidden !important;
        position: inherit !important;
    }
}
.bgimg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
}
.text{
    background-color: transparent !important;
    text-align: left !important;
    border:none !important;
    justify-content: flex-start !important;
    color: #333 !important;
}

.lvmain{
    background-image: linear-gradient(#9dd3df 0%,#c2e1e4 55%,#90c9d2 100%);
}

.bgmain{
    background-image: linear-gradient( #bce8ff 0%,#aae0fc 15%, #c8c8ff 25%,#aae0fc 75%,#bce8ff 100%);
    background-size: 400% 400%;
}

.lv{
    background-color: #60baa0;
}

.lvlight{
    background-color: #f0fcf8;
}
.lvlights{
    background-color: #f0fcf8;
}
.lvtext{
    color:#60baa0;
}


.bg{
    background-image: linear-gradient(145deg,#91daff 0%,#7bd1ff 25%,#ffa7ea 50%,#7bd1ff 75%,#91daff 100%);
    background-size: 400% 400%;
    animation: bgmove 20s linear 0s infinite alternate forwards;
}
.bglight{
    background-image: linear-gradient(145deg,#ddf4ff 0%,#d9f2ff 25%,#ffe9fa 50%,#d9f2ff 75%,#ddf4ff 100%);
    background-size: 400% 400%;
    animation: bgmove 20s linear 0s infinite alternate forwards;
}
.bglights{
    background-color: #ddf4ff
}
.bgtext{  
    background-image:linear-gradient(145deg,#91daff 0%,#7bd1ff 25%,#ffa7ea 50%,#7bd1ff 75%,#91daff 100%); 
    background-clip:text; 
    -webkit-text-fill-color:transparent; 
}

.lightgrey{
    background-color: #ededed;
}
@keyframes bgmove{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bgmovemain{
    0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 100% 100%;
	}
}